@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
/* font-family: 'Akaya Telivigala', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lato:wght@100&display=swap');
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
/* font-family: 'Nunito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap');
/* font-family: 'Inter', sans-serif; */

/*Global styles*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-font: 'Nunito', sans-serif;
  --secondary-font: 'Lato', sans-serif;
  --body-font: 'Inter', sans-serif;
  --main-color-blue: #060863;
  --secondary-color: #c47806;
}

body {
  z-index: 0;
  background-color: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
}

.container {
  width: 100%;
  max-width: 123rem;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent); */
}

.logo-box {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 0.5rem;
}

#comp-name {
  color: var(--secondary-color);
  font-family: var(--main-font);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  background-color: var(--main-color-blue);
}

.menu-toggle {
  color: #f8f2f2;
  font-size: 2.2rem;
  position: absolute;
  top: 20%;
  transform: translateY(-50);
  right: 1rem;
  cursor: pointer;
  z-index: 1600;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-color-blue);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1400;
  transform: translateX(-100%);
  transition: transform .5s;
}

.nav::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-color);
  z-index: 1200;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color.5s;
}

.nav-link:hover {
  color: var(--secondary-color);
}

/* Slide show */
.cb-slideshow,
.cb-slideshow:after { 
  position: relative;
  width: 100%;
  height: 40rem;
  top: 5.2rem;
  left: 0;
  z-index: 0;
}

.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 30s linear infinite 0s;
  -moz-animation: imageAnimation 30s linear infinite 0s;
  -o-animation: imageAnimation 30s linear infinite 0s;
  -ms-animation: imageAnimation 30s linear infinite 0s;
  animation: imageAnimation 30s linear infinite 0s; 
}

.cb-slideshow li div { 
  z-index: 1000;
  position: absolute;
  bottom: 20rem;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #f8f2f2;
  -webkit-animation: titleAnimation 30s linear infinite 0s;
  -moz-animation: titleAnimation 30s linear infinite 0s;
  -o-animation: titleAnimation 30s linear infinite 0s;
  -ms-animation: titleAnimation 30s linear infinite 0s;
  animation: titleAnimation 30s linear infinite 0s; 
}

.cb-slideshow li div h3 { 
  font-family: var(--secondary-font);
  font-size: 3rem;
  padding: 0;
}

.cb-slideshow li:nth-child(1) span { 
  background-image: url(../images/1.jpg) 
}

.cb-slideshow li:nth-child(2) span { 
  background-image: url(../images/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; 
}

.cb-slideshow li:nth-child(3) span { 
  background-image: url(../images/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; 
}

.cb-slideshow li:nth-child(4) span { 
  background-image: url(../images/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; 
}

.cb-slideshow li:nth-child(5) span { 
  background-image: url(../images/5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; 
}

.cb-slideshow li:nth-child(2) div { 
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; 
}

.cb-slideshow li:nth-child(3) div { 
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; 
}

.cb-slideshow li:nth-child(4) div { 
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; 
}

.cb-slideshow li:nth-child(5) div { 
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; 
}


/* Core area tabs */
.core-area,
.services,
.counter-holder {
  position: relative;
  width: 100%;
  padding: 0 2rem;
}

.tab-box {
  position: relative;
  background: #fff;
  top: 5.2rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: var(--main-color-blue);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.9rem 1rem;
  transition: 0.3s;
  font-size: 1rem;
  width: 100%;
  height: 5.2rem;
}

#tab-1-head {
  display: block;
}

.tab i {
  padding: 0.4rem;
  color: #000;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--secondary-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding-top: 2rem;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tab-text {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
  color: var(--main-color-blue);
}

.tab-text p {
  font-size: 1.1rem;
  padding-top: 1rem;
}

.tab-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
}

#tab-img1,
#tab-img2,
#tab-img3 {
  /* /* height: 25rem;  */
  /* width: 30rem; */
  /* margin-left: 1rem; */
  height: 15rem;
  width: 20rem;
  margin: 0 auto;
}

#tab-img1 {
  background-image: url(../images/smart-build.jpg); 
}

#tab-img2 {
  background-image: url(../images/fire-and-gas.jpg);
}

#tab-img3 {
  background-image: url(../images/gen-mainte.jpg);
}

/* Our services */
.services-box {
  display: flex;
  flex-direction: column;
}

.per-service {
  width: 25rem;
  height: 15rem;
  margin: 0 auto 2rem auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.services h2,
.services-box h4 {
  font-family: var(--main-font);
  color: var(--main-color-blue);
  text-align: center;
}

.services h2 {
  padding: 3rem;
}

.services {
  top: 5.2rem;
}

.services-box h4 {
  padding: 2rem;
}

.service-img-box {
  width: 7rem;
  height: 7rem;
}

.service-img-box img {
  padding-top: 1rem;
}

/* Counter */
.counter-holder {
  background-image: linear-gradient(to bottom, rgba(76, 77, 80, 0.52), rgba(107, 36, 89, 0.73)),
  url(../images/counter-bgrnd.jpg);
  width: 100%;
  background-size: cover;
  top: 5.2rem;
}

.counter {
  padding: 0.7rem 0;
  font-size: 3.5rem;
  color: #fff;
  font-family: var(--body-font-color);
}

.per-counter h4 {
  padding: 0;
  color: #ccc;
  font-weight: bolder;
  font-size: 1.5rem;
}

.per-counter {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}

.per-counter .fas {
  color: #ccc;
  font-size: 3rem;
}

/* Our Projects */
.project-lead,
.team-heading p {
  text-align: center;
  color: var(--main-color-blue);
  font-family: var(--body-font-color);
}

.project-lead h2 {
  padding-top: 3rem;
  font-weight: bolder;
}

.project-lead p,
.team-heading p {
  font-size: 1.3rem;
}

.project-img {
  width: 28rem;
  max-width: 100%;
  opacity: 0.7;
}

.project-img:hover {
  transition: .5s ease;
  opacity: 1;
  max-width: 100%;
  width: 30rem;
}

.project-lead p {
  padding-top: 2rem;
}

.per-project-box,
.per-project {
  display: flex;
  flex-direction: column;
}

.per-project-box {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.project-box,
.our-team-box {
  position: relative;
  top: 5.2rem;
  background-color: #f8f2f2;
}

.per-project {
  margin-bottom: 2rem;
}

#project-one {
  background-size: cover;
}

.project-name {
  position: relative;
  bottom: 0.4rem;
  height: 4rem;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  background-color: var(--main-color-blue);
}

/* Our Team */
.our-team-box {
  background-image: linear-gradient(to right, #8a7224a2, rgba(70, 70, 8, 0.73)),
  url(../images/sample-ite-bacgnd.jpg);
  background-position: center;
	background-size: cover;
	text-align: center;
  height: 40rem;
  width: 100%;
}

.team-heading {
  margin-top: 3rem;
  padding: 1.5rem;
}

.team-heading h1 {
  margin-bottom: 1rem;
  color: #fff;
}

.team-heading p {
  color: #ccc;
  font-weight: bold;
}

.sub-team-box {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 5.4rem;
}

.team-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.per-picture {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 4rem;
}

.per-position {
  font-family: var(--main-font);
  color: transparent;
  width: 100%;
  height: 100%;
  padding-top: 3.4rem;
}

#team-pic-1,
#team-pic-2,
#team-pic-3,
#team-pic-4 {
  width: 100%;
  background-size: cover;
}

#per-pos-1:hover,
#per-pos-2:hover,
#per-pos-3:hover,
#per-pos-4:hover {
  color: #fff;
  transition: .10s ease;
}

#team-pic-1:hover,
#team-pic-2:hover,
#team-pic-3:hover,
#team-pic-4:hover {
  background: var(--secondary-color);
  transition: .5s ease;
}
 
#team-pic-1 {
  background-image: url(../images/prof-pic-1.jpeg);
}

#team-pic-2 {
  background-image: url(../images/prof-pic-2.png);
}

#team-pic-3 {
  background-image: url(../images/prof-pic-3.png);
}

#team-pic-4 {
  background-image: url(../images/prof-pic-4.jpeg);
}

.testimony-head h2,
.per-comment h2 {
  color: var(--main-color-blue);
}

.ite-intro {
  padding: 6rem 0 2rem 0;
  text-align: left;
  color: var(--main-color-blue);
  line-height: 1.5rem;
  font-size: 1.2rem;
}

.project-box {
  padding: 1.5rem
}

.collapsible {
  background-color: var(--main-color-blue);
  color: var(--secondary-color);
  cursor: pointer;
  padding: 1.4rem 0 0 1rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.collapse-button {
  position: relative;
}

.active, .collapsible:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

#btn-action0,
#btn-action1,
#btn-action2 {
  color: #ddd;
  font-size: 2rem;
  float: right;
  padding-right: 0.5rem;
  position: relative;
  bottom: 0.6rem;
}

.content {
  padding: 1.5rem;
  display: none;
  overflow: hidden;
  color: var(--main-color-blue);
  text-align: left;
  background-color: #fff;
  position: relative;
  border: 1px solid var(--main-color-blue);
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.content h2 {
  text-align: center;
}

.content ol {
  padding: 1.5rem;
  text-align: left;
  color: var(--main-color-blue);
}

/* Testimony Section */
.testimony-head {
  margin-top: 3rem;
  background-color: #fff;
  padding: 1.5rem;
}

.testimony-head p,
.per-comment p {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--main-color-blue);
}

.per-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1.5rem;
}

.per-comment h2 {
  padding-top: 1rem;
}

.per-comment blockquote {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.7rem;
  margin-top: 0.6rem;
  font-weight: bold;
  background: var(--secondary-color);
}

.testi-img-box {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;;
}

.arrow-guide {
  display: relative;
  background: #fff;
  padding: 2rem 1.5rem;
}

.arrow-guide a {
  color: var(--main-color-blue);
  font-size: 1.5rem;
  padding: 1rem;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  font-weight: bold;
  transition: 0.6s ease;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: var(--secondary-color);
  color: #f2f2f2;
}

/* News Letter */
.news-letter {
  margin-top: 10rem;
  padding: 2rem 1.5rem;
  color: var(--main-color-blue);
  font-family: var(--main-font);
}

.news-letter p {
  color: var(--main-color-blue);
  font-size: 1.2rem;
  padding: 2rem 0;
}

.news-letter input,
.news-letter button {
  height: 2.5rem;
  font-family: var(--main-font);
  font-size: 1.1rem;
  padding: 0.4rem;
}

.news-letter button {
  margin-left: -1rem;
  color: #fff;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* footer Section */
.addres-box,
.more-info,
.footer-more-info {
  width: 100%;
  font-family: var(--body-font);
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding-top: 2rem;
}

.addres-box {
  background: rgb(49, 48, 48);
}

.addres-info {
  width: 60%;
  padding: 1rem;
  height: 10rem;
}

.addres-info .fas {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--secondary-color);
}

.fa-globe,
.fa-phone {
  margin-top: 2rem;
}

.more-info {
  background: rgb(71, 70, 70);
  padding: 2rem;
}

.more-info h4 {
  padding-bottom: 1.5rem;
  color: var(--secondary-color);
}

.social-media-footer {
  display: flex;
  margin-top: 1rem;
}

.social-media-footer i {
  color: var(--secondary-color);
  padding: 0.3rem;
  font-size: 2rem;
}

.footer-more-info ul {
  list-style: none;
  text-align: left;
}

.footer-more-info a {
  color: #f2f2f2;
}

.footer-more-info span,
.footer-more-info a {
  padding: 0.5rem;
}

.footer-more-info a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.group-2-contact {
  text-align: left;
  margin: 2rem 0;
}

.contact-2 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.contact-2 i {
  padding: 0.8rem;
  color: var(--secondary-color);
}

.footer-bar {
  height: 3rem;
  background: var(--secondary-color);
  color: #f1f1f1;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  /* display: flex; */
}

.footer-bar a {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  background: var(--secondary-color);
  color: #f1f1f1;
  font-size: 2rem;
  padding: 0.4rem;
}

