/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
    -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
  }
  
  @-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
    -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
  }
  
  @-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
    -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
  }
  
  @-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
    -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
  }
  
  @keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
    animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
  }
  
  /* Animation for the title */
  @-webkit-keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateX(200px);
      }
  
      8% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      17% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      19% {
        opacity: 0;
        transform: translateX(-400px);
      }
  
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  @-moz-keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateX(200px);
      }
  
      8% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      17% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      19% {
        opacity: 0;
        transform: translateX(-400px);
      }
  
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  @-o-keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateX(200px);
      }
  
      8% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      17% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      19% {
        opacity: 0;
        transform: translateX(-400px);
      }
  
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  @-ms-keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateX(200px);
      }
  
      8% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      17% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      19% {
        opacity: 0;
        transform: translateX(-400px);
      }
  
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  @keyframes titleAnimation { 
    0% {
        opacity: 0;
        transform: translateX(200px);
      }
    
      8% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      17% {
        opacity: 1;
        transform: translateX(0px);
      }
  
      19% {
        opacity: 0;
        transform: translateX(-400px);
      }
    
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  /* Show at least something when animations not supported */
  .no-cssanimations .cb-slideshow li span{
      opacity: 1;
  }

  /* Animation for testimony */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


/* media query */

  /* @media screen and (max-width: 1140px) { 
  .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
  .cb-slideshow li div h3 { font-size: 80px }
} */
  