@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
/* font-family: 'Akaya Telivigala', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Lato:wght@100&display=swap');
/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
/* font-family: 'Nunito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap');
/* font-family: 'Inter', sans-serif; */

/*Global styles*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-font: 'Nunito', sans-serif;
  --secondary-font: 'Lato', sans-serif;
  --body-font: 'Inter', sans-serif;
  --main-font-color-blue: #060863;
  --secondary-font-color: #c47806;
  --body-font-color: #f8f2f2;
}

html {
  font-family: var(--body-font);
  font-size: 1rem;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2rem;
}

.container {
  width: 100%;
  max-width: 123rem;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent); */
}

.logo-box {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 0.5rem;
}

#comp-name {
  color: var(--secondary-font-color);
  font-family: var(--main-font);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.2rem;
  background-color: var(--main-font-color-blue);
}

.menu-toggle {
  color: var(--body-font-color);
  font-size: 2.2rem;
  position: absolute;
  top: 20%;
  transform: translateY(-50);
  right: 1rem;
  cursor: pointer;
  z-index: 1600;
}

.fa-times {
  display: none;
}

.nav-list {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: var(--main-font-color-blue);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1400;
  transform: translateX(-100%);
  transition: transform .5s;
}

.nav::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-font-color);
  z-index: 1200;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-right: -2px;
  transition: color.5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

/* Slide show */

.cb-slideshow,
.cb-slideshow:after { 
  position: relative;
  width: 100%;
  height: 40rem;
  top: 5.2rem;
  left: 0;
  z-index: 0;
}

.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 30s linear infinite 0s;
  -moz-animation: imageAnimation 30s linear infinite 0s;
  -o-animation: imageAnimation 30s linear infinite 0s;
  -ms-animation: imageAnimation 30s linear infinite 0s;
  animation: imageAnimation 30s linear infinite 0s; 
}

.cb-slideshow li div { 
  z-index: 1000;
  position: absolute;
  bottom: 20rem;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #f8f2f2;
  -webkit-animation: titleAnimation 30s linear infinite 0s;
  -moz-animation: titleAnimation 30s linear infinite 0s;
  -o-animation: titleAnimation 30s linear infinite 0s;
  -ms-animation: titleAnimation 30s linear infinite 0s;
  animation: titleAnimation 30s linear infinite 0s; 
}

.cb-slideshow li div h3 { 
  font-family: var(--secondary-font);
  font-size: 3rem;
  padding: 0;
}

.cb-slideshow li:nth-child(1) span { 
  background-image: url(../images/1.jpg) 
}

.cb-slideshow li:nth-child(2) span { 
  background-image: url(../images/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; 
}

.cb-slideshow li:nth-child(3) span { 
  background-image: url(../images/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; 
}

.cb-slideshow li:nth-child(4) span { 
  background-image: url(../images/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; 
}

.cb-slideshow li:nth-child(5) span { 
  background-image: url(../images/5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; 
}

.cb-slideshow li:nth-child(2) div { 
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; 
}

.cb-slideshow li:nth-child(3) div { 
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; 
}

.cb-slideshow li:nth-child(4) div { 
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; 
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
  0% { opacity: 0;
  -webkit-animation-timing-function: ease-in; }
  8% { opacity: 1;
  -webkit-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
  0% { opacity: 0;
  -moz-animation-timing-function: ease-in; }
  8% { opacity: 1;
  -moz-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
  0% { opacity: 0;
  -o-animation-timing-function: ease-in; }
  8% { opacity: 1;
  -o-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
  0% { opacity: 0;
  -ms-animation-timing-function: ease-in; }
  8% { opacity: 1;
  -ms-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes imageAnimation { 
  0% { opacity: 0;
  animation-timing-function: ease-in; }
  8% { opacity: 1;
  animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

/* Animation for the title */
@-webkit-keyframes titleAnimation { 
  0% {
	  opacity: 0;
	  transform: translateX(200px);
	}

	8% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	17% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	19% {
	  opacity: 0;
	  transform: translateX(-400px);
	}

	25% { opacity: 0 }
	100% { opacity: 0 }
}

@-moz-keyframes titleAnimation { 
  0% {
	  opacity: 0;
	  transform: translateX(200px);
	}

	8% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	17% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	19% {
	  opacity: 0;
	  transform: translateX(-400px);
	}

	25% { opacity: 0 }
	100% { opacity: 0 }
}

@-o-keyframes titleAnimation { 
  0% {
	  opacity: 0;
	  transform: translateX(200px);
	}

	8% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	17% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	19% {
	  opacity: 0;
	  transform: translateX(-400px);
	}

	25% { opacity: 0 }
	100% { opacity: 0 }
}

@-ms-keyframes titleAnimation { 
  0% {
	  opacity: 0;
	  transform: translateX(200px);
	}

	8% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	17% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	19% {
	  opacity: 0;
	  transform: translateX(-400px);
	}

	25% { opacity: 0 }
	100% { opacity: 0 }
}

@keyframes titleAnimation { 
  0% {
	  opacity: 0;
	  transform: translateX(200px);
	}
  
	8% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	17% {
	  opacity: 1;
	  transform: translateX(0px);
	}

	19% {
	  opacity: 0;
	  transform: translateX(-400px);
	}
  
	25% { opacity: 0 }
	100% { opacity: 0 }
}

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

/* Core area tabs */
.core-area,
.services,
.counter-holder {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  background-color: #f8f2f2;
}

.tab-box {
  position: relative;
  background: #fff;
  bottom: 5.2rem;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  color: var(--main-font-color-blue);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.9rem 1rem;
  transition: 0.3s;
  font-size: 1rem;
  width: 100%;
  height: 5.2rem;
}

#tab-1-head {
  display: block;
}

.tab i {
  padding: 0.6rem;
  color: #000;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--secondary-font-color);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding-top: 2rem;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tab-text {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.tab-text p {
  font-size: 1.1rem;
  padding-top: 1rem;
}

.tab-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
}

#tab-img1,
#tab-img2,
#tab-img3 {
  /* /* height: 25rem;  */
  /* width: 30rem; */
  /* margin-left: 1rem; */
  height: 15rem;
  width: 20rem;
  margin: 0 auto;
}

#tab-img1 {
  background-image: url(../images/smart-build.jpg); 
}

#tab-img2 {
  background-image: url(../images/fire-and-gas.jpg);
}

#tab-img3 {
  background-image: url(../images/gen-mainte.jpg);
}

/* Our services */
.services-box {
  display: flex;
  flex-direction: column;
}
.per-service {
  width: 25rem;
  height: 15rem;
  margin: 0 auto 2rem auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.services h2,
.services-box h4 {
  font-family: var(--main-font);
  color: var(--main-font-color-blue);
  text-align: center;
}

.services h2 {
  margin-bottom: 2rem;
}

.services-box h4 {
  padding: 2rem;
}

.service-img-box {
  width: 7rem;
  height: 7rem;
}

.service-img-box img {
  padding-top: 1rem;
}

/* Counter */
.counter-holder {
  background-image: linear-gradient(to bottom, rgba(76, 77, 80, 0.52), rgba(107, 36, 89, 0.73)),
  url(../images/counter-bgrnd.jpg);
  width: 100%;
  background-size: cover;
}

.img-holder {
  height: 3rem;
  width: 3rem;
}

.counter {
  padding: 0.7rem 0;
  font-size: 1.4rem;
  color: #fff;
  font-family: var(--body-font-color);
}
.per-counter h4 {
  padding: 0;
  color: #ccc;
  font-weight: bolder;
  font-size: 1.5rem;
}

.per-counter {
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}

/* Our Projects */
.project-lead {
  text-align: center;
}

.project-lead h2 {
  color: var(--main-font-color-blue);
  font-family: var(--secondary-font);
  padding-top: 4rem;
  font-weight: bold;
}

.project-img {
  width: 28rem;
  max-width: 100%;
  opacity: 0.7;
}

.project-img:hover {
  transition: .5s ease;
  opacity: 1;
  max-width: 100%;
  width: 30rem;
}

.project-lead p {
  padding-top: 2rem;
}

.per-project-box,
.per-project {
  display: flex;
  flex-direction: column;
}

.per-project-box {
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.project-box {
  padding: 1.5rem;
}

.per-project {
  margin-bottom: 2rem;
}

#project-one {
  background-size: cover;
}

.project-name {
  position: relative;
  bottom: 0.4rem;
  height: 4rem;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
  background-color: var(--main-font-color-blue);
}



/* @media screen and (max-width: 1140px) { 
  .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
  .cb-slideshow li div h3 { font-size: 80px }
} */